h1 {
    background-color: aquamarine;
    font-size: 50px;
    text-align: center;
    border: 5pt dotted;
    border-color: red orange;
    border-radius: 35pt;
}

p.sub {
    text-align: center;
    background-color: aliceblue;
    border: 0pt;
    font: 10pt;
}

body {
   background-image: url('imagenes/Fondo0.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   color: white;
   padding: 20px;
   position: relative;
   z-index: 1;
}

div.sentostilo1 {
    background-color: transparent;
    border: 10px outset gray;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0 25px black;
}

h2.sentostilo1 {
    font-size: 25px;
}

p.sentostilo1 {  
    font-weight: bold;
    font-size: 15px;
}

p.sentostilo2 {  
   width: 90ch;
   word-wrap: break-word;
   overflow-wrap: break-word;
   font-family: monospace;
}

h2.title {
    font: red;

}